---
---

$blue: #4D6376;
$brown: #4A3728;

$theme-colors: (
  "primary": $blue,
  "secondary": $brown
);

@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');
@import "bootstrap/scss/bootstrap.scss";

.hero-400 {
  height: 400px;
}

.hero-300 {
  height: 300px;
}

h1, h2, h3, h4, h5, h6, .text-decorative {
  font-family: 'Milonga', cursive;
}

main {
  padding-bottom: 100px;
}